<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Aplikacija za prećenje natjecanja</title>
    <link rel="stylesheet" href="styles.css"> <!-- Povezivanje s CSS datotekom -->
</head>
<body>
<div class="container">
    <h1>Dobrodošli u Aplikaciju za prećenje natjecanja</h1>
    <p>Za kreiranje natjecanja potrebna je prijava.</p>
    <a href="/login" class="login-button">Prijavite se</a>
</div>
</body>
</html>
